/* CSS Reset per John Humbracht */
* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: rgba(76,76,76,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Droid Sans Mono', monospace;
	text-align: center;
}

h1 {
	font-family: 'Contrail One', sans-serif;
	font-size: 5em;
	color: #8be81a;
	margin-bottom: 0.5em;
}

h3 {
	font-family: 'Contrail One', sans-serif;
	font-size: 3em;
	color: #8be81a;
	margin-top: 0;
}

h5 {
	font-family: 'Contrail One', sans-serif;
	font-size: 1.5em;
	color: #4C7F0E;
	margin-top: 0;
}

p {
	margin: 1em auto;
	max-width: 500px;
	font-size: .8em;
}

ul {
	list-style-type: none;
	max-width: 100%;
	padding: 50px;
}

li {
	border: 2px solid #8be81a;
	display: inline-block;
	max-width: 15%;
	margin: 10px;
	padding: 10px;
	text-transform: uppercase;
}

a:link, a:visited {
	color: #8be81a;
	text-decoration: none;
}