/*----- Simple CSS Reset per John Humbracht -----*/
* { margin:0; padding:0; box-sizing:border-box; }

/*
font-family: 'Old Standard TT', serif;
font-family: 'Oswald', sans-serif;

*/

/* ----- Global Defaults ----- */

body {
	background-color: gray;
	font-family: sans-serif;
}

h1 {
	font-size: 6em;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	font-size: 2.5em;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

h5 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	text-transform: uppercase;
}

p {
	font-family: 'Old Standard TT', serif;
	max-width: 55em;
}

ul {
	padding: 0 10px 10px 0px;
	list-style: none;
}

/*----- Micro clearfix from https://css-tricks.com/snippets/css/clear-fix/ -----*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*----- Flexbox -----*/

/*
.flex-container {
  display: flex;  
  justify-content: space-around;
} 
*/

/*----- Header Styling -----*/

header {
	background-color: #077070;
	padding: 15%;
	text-align: center;
}

header h1 {
	border: 2px dashed white;
	color: #46B2B2;
}

/*----- Main Nav Styling -----*/

nav {
	background-color: #EB6C02;
	padding: 15%;
}

nav h3 {
	border: 2px dashed white;
	color: #EB6C02;
}

.main-nav-tile {
	background-color: #693000;	
	float: left;
	margin: 10px;
	height: 100px;
	padding: 10px;
	text-align: center;
	width: 30%;
}

/*----- Main Section Styling-----*/

.tier-1 {
	margin: 0 auto;
	max-width: 70%;
	padding: 10px;
}

.tier-1 h5, p {
	color: #099509;
}

.tier-1-tile {
	background-color: #003200;
	margin: 10px;
	padding: 10px;
}

.tier-1-subnav {
	background-color: #5F5429;
	color: #C4AB42;
	margin: 10px;
	padding: 10px;
}

/*----- Subsection Styling -----*/

.tier-2 {
	margin: 0 auto;
	max-width: 70%;
	padding: 10px;
}

.tier-2 h5 {
	border: 2px dashed white;
	color: #C779FF;
	margin-bottom: 10px;
}

.tier-2 p {
	border: 2px dashed white;
	color: #DBA9FF;
}

.tier-2-tile {
	margin: 10px;
	padding: 10px;
}

/*----- Subsection Styling -----*/

#about-subsection {

}

#story-subsection {

}

#theory-subsection {

}

/*----- Subsection Detail Styling -----*/

#anthony-sims-bio, #john-dower-bio, #stevie-ray-bio {
	background-color: #410070;
}

#summary, #backstory, #screenplay {
	background-color: #690000;
}

#subcreations, #genre, #slate {
	background-color: #055A5A;
}